    <div class="row">
        <div class="col-lg-2">
            <div class="sidebar flex-shrink-0 p-3 bg-dark" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <span class="admin-logo" >Admin</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                            <a class="nav-link" [routerLink]="['/admin/listroom']" routerLinkActive="active">QL phòng</a>

                        </button>
                    </li>

                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="false">
                            <a class="nav-link" [routerLink]="['/admin/book']" routerLinkActive="active">QL Booking</a>

                        </button>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#account-collapse" aria-expanded="false">
                            <a class="nav-link" [routerLink]="['/admin/users']" routerLinkActive="active">QL User</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>

<style>

    
    
</style>