<div class="heading">
    <span class="text-primary ">Homepage <i class="fa fa-chevron-right" aria-hidden="true"></i></span> <span>Tất cả
        khách sạn </span>
</div>

<div class="room-container mt-3">
    <div class="room-heading">
        <div class="heading">
            <h3>Những khách sạn gần đây bạn có thể đặt phút chót</h3>
            <p>Tìm ưu đãi khách sạn tuyệt vời cho đêm nay hoặc chuyến đi sắp tới</p>
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#myModal">Phòng đã
                đặt</button>
        </div>
        <div class="sort-price">
            <ul>
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Lọc (giá)
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a (click)="asc()">Thấp đến cao</a></li>
                        <li><a (click)="desc()">Cao đến thấp</a></li>
                    </ul>
                  </div>
            </ul>
        </div>
    </div>
    <div class="room-list">
        <!-- item -->
        <div class="item" *ngFor="let item of listRoom, let i = index">
            <img [src]="item.img" alt="">
            <div class="item-info">
                <h5>Mã: A00{{item.id}}</h5>
                <div class="item-des">
                    <div class="rating">
                        <button>{{item.rating}}/10</button>
                    </div>
                    <div class="price">
                        <h5>VND <span>{{item.price | number}}</span></h5>
                        <p style="font-size: 14px;opacity: .7;">Cho đêm nay({{item.category}})</p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center "><button class="btn btn-primary"
                            (click)="book(item)" data-bs-toggle="modal" data-bs-target="#myModal">Đặt phòng</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Danh sách phòng đặt</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Loại chỗ nghỉ</th>
                            <th>Hình ảnh</th>
                            <th>Đánh giá</th>
                            <th>Giá hôm nay</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart, let i = index">
                            <td>
                                <i class="fa fa-user"></i><i class="fa fa-user"></i>2 người<br>
                                <i class="fa fa-bed"></i> 1 giường <br>
                                <i class="fa fa-wifi"></i> Wifi miễn phí <br>
                                <i class="fa fa-tv"></i> 1 Tivi màn hình phẳng
                            </td>
                            <td><img [src]="item.img" alt="" width="150px"></td>
                            <td><button class="btn btn-warning">{{item.rating}}(90%)</button></td>
                            <td>VND {{item.price | number}}</td>
                            <td><button class="btn btn-danger" (click)="xoaphong(i)">Xóa</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="thanhtoan()">Đặt ngay</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>