<div class="heading mt-3">
    <h5>Các chi nhánh yourHome trên toàn quốc</h5>
    <ul class="chinhanh">
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/da-nang.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Thành phố Đà Nẵng
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/phu-yen.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Phú Yên
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/vinh-long.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Vĩnh Long
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/ho-chi-minh.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                TP. Hồ Chí Minh
            </a>
        </li>
        <li class=" ia_section_item  last  fl ">
            <a class="ia_link"
                href="/region/vn/thanh-hoa.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Thanh Hóa
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/gia-lai.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Gia Lai
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/bac-lieu.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Bạc Liêu
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/ha-tinh.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Hà Tĩnh
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/dak-lak.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Đắc Lắc
            </a>
        </li>
        <li class=" ia_section_item  last  fl ">
            <a class="ia_link"
                href="/region/vn/quang-binh.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Quảng Bình
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/tra-vinh.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Trà Vinh
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/ca-mau.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Cà Mau
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/binh-duong.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Bình Dương
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/ninh-thuan.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Ninh Thuận
            </a>
        </li>
        <li class=" ia_section_item  last  fl ">
            <a class="ia_link"
                href="/region/vn/thua-thien-hue.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Thừa Thiên - Huế
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/can-tho.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Cần Thơ
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/ha-long-bay.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Vịnh Hạ Long
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/binh-thuan-province.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Bình Thuận
            </a>
        </li>
        <li class=" ia_section_item  fl ">
            <a class="ia_link"
                href="/region/vn/ha-noi.vi.html?label=gen173nr-1DCAEoggI46AdIM1gEaPQBiAEBmAEquAEXyAEM2AED6AEBiAIBqAIDuAKAuouWBsACAdICJDhiZDA4NzJhLWU0ZDctNGQ5NS04Y2FlLThhYWMyNmQzN2ZlMNgCBOACAQ&amp;sid=c527086f9f6d20a595416d6d7e8e19cd">
                Hà Nội
            </a>
        </li>
    </ul>
</div>
<div class="promotion">
    <img src="./assets/imgs/promotion.jpg" alt="" width="160px">
    <div class="promotion-text">
        <h5>Tiết kiệm 15% trở lên</h5>
        <p>Kỳ nghỉ hè mơ ước không còn xa. Đặt và lưu trú tiết kiệm trước 30/9/2022</p>
        <button class="btn-promotion">Khám phá ưu đãi</button>
    </div>
</div>
<div class="gallery">
    <div class="gallery-1">
        <div class="gallery-img galley-item1">
            <img src="./assets/imgs/gallery1.jpg" alt="">
            <div class="gallery-caption">
                <h4>Cảnh quan</h4>
                <p>Tầm nhìn bên ngoài</p>
            </div>
        </div>
        <div class="gallery-img galley-item2">
            <img src="./assets/imgs/gallery2.jpg" alt="">
            <div class="gallery-caption">
                <h4>Phòng khách chung</h4>
                <p>Nơi nghỉ ngơi</p>
            </div>
        </div>
    </div>
    <div class="gallery-2">
        <div class="gallery-img galley-item3">
            <img src="./assets/imgs/gallery3.jpg" alt="">
            <div class="gallery-caption">
                <h4>Quầy lễ tân</h4>
                <p>Phục vụ khách hàng</p>
            </div>
        </div>
        <div class="gallery-img galley-item4">
            <img src="./assets/imgs/gallery4.jpg" alt="">
            <div class="gallery-caption">
                <h4>Phòng ngủ </h4>
                <p>Đầy đủ tiện nghi</p>
            </div>
        </div>
        <div class="gallery-img galley-item5">
            <img src="./assets/imgs/gallery5.jpg" alt="">
            <div class="gallery-caption">
                <h4>Dịch vụ cà phê</h4>
                <p>Phục vụ 24/24</p>
            </div>
        </div>
    </div>
</div>

